/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--background);
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary:  */
  --h-font: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
  --background-url: url('../src/assets/img/Frame-l.svg'); /* Very Dark Purple */
  --background: rgba(136, 14, 79, 0.8);
  --text: rgba(28,6,26, 1);
  --button-bg: rgba(217, 132, 155, 1);
  --button-text: rgba(28,6,26, 1);
  --button-hover-bg: rgba(242, 167, 187, 1);
  --card-bg: rgba(242, 194, 212, 1);
  --card-shadow: 0 4px 8px rgba(28,6,26, 1);
  --header-text: rgba(136, 14, 79, 1);
  --input-bg: rgba(242, 167, 187, 1); 
  --input-border: rgba(217, 132, 155, 1);
  --input-focus-border: rgba(217, 132, 155, 0.8);; /* Pastel Green */
  --input-placeholder: rgba(28,6,26, 0.5); /* Light Gray */
  --input-text: rgba(28,6,26, 0.5); /* Dark Grayish Blue */
  --textarea-bg: rgba(242, 220, 228, 1); /* White */
  /* --textarea-border: rgba(224, 242, 241, 1); Pastel Green */
  --textarea-focus-border: rgba(166, 86, 107, 0.6); /* Pastel Green */
  /* --textarea-placeholder: rgba(193, 200, 200, 1); Light Gray */
  --textarea-text: rgba(28,6,26, 0.7); /* Dark Grayish Blue */
  --select-bg: rgba(248, 187, 208, 1); /* White */
  --select-border:rgba(217, 132, 155, 0.8); /* Pastel Green */
  --select-focus-border: rgba(136, 14, 79, 0.6); /* Pastel Green */
  --select-text: rgba(28,6,26, 1); /* Dark Grayish Blue */
}

[data-theme='dark'] {
  --h-font: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
  --background-url: url('../src/assets/img/Frame-d2.svg'); /* Very Dark Purple */
  --background: rgba(248, 187, 208, 0.3);
  --text: rgba(242, 220, 228, 1); /* Light Gray */
  --button-bg: rgba(242, 194, 212, 1); /* Pastel Green */
  --button-text: rgba(28, 6, 26, 1); /* White */
  --button-hover-bg: rgba(248, 187, 208, 1); /* Darker Pastel Green */
  --card-bg: rgba(248, 187, 208, 1); /* Dark Gray */
  --card-shadow: rgba(242, 220, 228, 1); /* Darker Shadow */
  --header-text: rgba(242, 220, 228, 1); /* White */
  --input-bg: rgba(248, 187, 208, 1); /* Dark Gray */
  --input-border: rgba(136, 14, 79, 0.6); /* Medium Gray */
  --input-focus-border: rgba(28, 6, 26, 0.9); /* Pastel Green */
  --input-placeholder: rgba(28, 6, 26, 0.7); /* Medium Gray */
  --input-text: rgba(224, 224, 224, 1); /* Light Gray */
  --textarea-bg: rgba(248, 187, 208, 1); /* Dark Gray */
  --textarea-border: rgba(136, 14, 79, 0.6); /* Medium Gray */
  --textarea-focus-border: rgba(217, 132, 155, 0.8); /* Pastel Green */
  --textarea-placeholder: rgba(28, 6, 26, 0.7); /* Medium Gray */
  --textarea-text: rgba(224, 224, 224, 1); /* Light Gray */
  --select-bg: rgba(248, 187, 208, 1); /* Dark Gray */
  --select-border: rgba(136, 14, 79, 0.6); /* Medium Gray */
  --select-focus-border: rgba(217, 132, 155, 0.8); /* Pastel Green */
  --select-text: rgba(242, 220, 228, 1); /* Light Gray */
}

body {

  /* background-color: var(--background); */
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

/* form { */
    /* shadow-[9px_14px_180px_44px_rgba(247,_150,_43,_0.21)] */
/* } */

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}

.card {
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  padding: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.header {
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 16px;
  border-bottom: 1px solid var(--header-text);
}

.header h1 ,h2{
  margin: 0;
  font-size: 24px;
  font-family: var(--h-font);
}

.MuiTypography-h1 ,.MuiTypography-h2{
  margin: 0;
  font-size: 24px;
  font-family: var(--h-font);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 8px;
  color: var(--input-text);
  transition: border-color 0.3s;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder {
  color: var(--input-placeholder);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

textarea {
  background-color: var(--textarea-bg);
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  padding: 8px;
  color: var(--textarea-text);
  transition: border-color 0.3s;
}

textarea::placeholder {
  color: var(--textarea-placeholder);
}

textarea:focus {
  border-color: var(--textarea-focus-border);
  outline: none;
}

select {
  background-color: var(--select-bg);
  border: 1px solid var(--select-border);
  border-radius: 4px;
  padding: 8px;
  color: var(--select-text);
  transition: border-color 0.3s;
}

select:focus {
  border-color: var(--select-focus-border);
  outline: none;
}

input[type="checkbox"] {
  accent-color: var(--button-bg); /* For modern browsers */
}

label {
  color: var(--text);
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}
